nav{
 text-align: left;
}


#contenedorModulos {
    display: grid;
    grid-template-columns: repeat(3,300px); /* 3 columnas con igual ancho */
    gap: 20px; /* Espacio entre las celdas */
   text-align: center;
   justify-content: center; /* Centra horizontalmente el grid */
  align-items: center; /* Centra verticalmente el grid */
}


/* Estilos específicos del componente */
.contenedor-modulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas que se ajustan al ancho del contenedor */
  gap: 20px; /* Espacio entre las columnas */
}

.modulo {
  text-align: center;
}

